$border: 1px solid red;

.container {
    background: #000 url('../assets/bg_adminlogin.jpg');
    background-size: cover;
}
.box {
    background: #000 url('../assets/logo.svg');
    background-size: cover;
    padding: 1rem;
    border-radius: 5px;
    border: $border;
    transition: 0.3s;

    h1 {
        text-align: center;
    }
}